.newsContainer {
    padding: 2rem 5%;

    > section {
        margin: 1rem 0 2rem;

        &:last-child {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
        }
    }
    .newView {
        padding: 1rem;
        border-radius: 10px;
        background-color: var(--color-800);
        display: flex;
        align-items: center;

        .content {
            padding:  1rem 2rem;

            h1 {
                font-size: 2rem;
            }

            p {
                margin: 1rem 0;
            }

            span {
                font-size: .8rem;
                color: #A6ADB1;
            }
        }
    }
}

@media (max-width: 850px) {
    .newsContainer {
        .newView {
            flex-direction: column;
        }
    }
}